body{
text-align:center;
}

#welcome {
  position: relative;
  min-height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0px;
}

#welcome-text {
  font-size: 5vw;
  line-height: 1.2;
}
#welcome-desc {
    font-size: 2vw;
    height: 3vw;
    line-height: 1.2;
}
#welcome-desc-text-add {
    position: static;
    display: inline;
    color: #BA5A31;
}
#project-title{

}
#arrowDown {
  position: absolute;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  pointer-events: auto;
  transition: opacity 2s ease;

}

#arrowDown.show {
  opacity: 1;
  visibility: visible;

}

#arrowDown.hide {
  opacity: 0;
  visibility: hidden;

}

section {
  padding: 0;
  margin: 1rem auto;
  scroll-margin-top: 8vw;
}

section #welcome{
 scroll-margin-top: 0vw;
   margin: 0rem auto;
}

#portrait{
  justify-content: right;
  text-align: right;


}
#about-text{
    text-align: left;
    font-size: 1vw;

}
#heading{
    font-size: 2vw;
    margin:0;
}
#about{
margin:0;
}



.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  width: 40%;
  background: none;
  padding: 0.25rem;
  text-align: left;
}

.project-card img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 0.25rem;
}

.title-card {
  font-size: 2vw;
  margin: 0px;

}

.sub-title {
  font-size: 1.5vw;
  margin: 0px;
  padding: 0px;
  color: #BA5A31;
}

.project-card p {
  font-size: 1vw;
  color: #334E58;
  margin-bottom: 0.2rem;
}

.project-links a img {
  width: 2vw;
  height: 1vw;
  margin: 0 0.1rem;
}
.project-card demo{
text-align:left;
}




button {
  background-color: #BA5A31;
  border: none;
  color: #f5ebe0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  cursor: pointer;
  border-radius: 2px;
  float: left;
}
button:hover{
background-color: #914727; /* Darker blue on hover */
color: #f5ebe0;
}
.right{
  float: right;

}