body {
  margin: 0;
  background-color: #f5ebe0;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans Code", monospace;
  color: #2E0F15;
}

.gentium-book-plus-regular {
  font-family: "Gentium Book Plus", serif;
  font-style: normal;
}
a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #f5ebe0;
  font-size: 2vw;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 2vw;
  overflow: hidden;
  background-color: #2E0F15;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #f5ebe0;



}

ul li {
  float: right;
}

ul li a:hover {
  cursor: pointer;
  color: #F7E3AF;
}